*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #252525;
}
:root{
    /* Reactive Nonmetal*/
    --corRN:#e6f0ff;
    --corDesciçãoRN:#0060f0;
    /* Noble Gas*/
    --corNG:#ffebee;
    --corDesciçãoNG:#d33670;
    /* Alkali Metal*/
    --corAM:#DBF8FF;
    --corDesciçãoAM:#00748B;
    /* Alkaline Earth Metal*/
    --corAEM:#ffebeb;
    --corDesciçãoAEM:#D60024;
    /* Metalloid*/
    --corM:#fef9e6;
    --corDesciçãoM:#AB7931;
    /* Post-transition Metal*/
    --corPTM:#DCFAEB;
    --corDesciçãoPTM:#002c00;
    /* Transition Metal*/
    --corTM:#f5ecfd;;
    --corDesciçãoTM:#6536ec;
    /* Lanthanide*/
    --corL:#E6f5ff;
    --corDesciçãoL:#2a5774;
    /* Actinide*/
    --corA:#ffeadb;
    --corDesciçãoA:#C73200;
    /* Unknown Chemical Properties*/
    --corUCP:#e9e9ec;
    --corDesciçãoUCP:#3f374f;
   


}
@media (max-width:600px){
    
    .legenda {
        position: fixed;
        top: 30px;
        left: 140px;
    }
    .name{
        display: flex;
        color: var(--corRN);
    }
    .sigla{
        margin-left: 10px;
    }
    .categoria{
        display: flex;
        flex-direction: row;
        color: var(--corRN);
        margin-top: 5px;
    }
    .descriçao{
        
    }
    .descriçoes{
        color: var(--corRN);
        margin-top: 50px;
    }
    .item{
        margin-top: 5px;
        display: flex;
    }

























    .container{
        display: flex;
        flex-direction: column;
    }
    .linha1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }

    /* Reactive Nonmetal*/

    .Button1 ,.Button6 ,.Button7,.Button8,.Button9 ,.Button15,.Button16 ,.Button17 ,.Button34,.Button35 ,.Button53  {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corRN);
        border: 1px solid var(--corRN);
        cursor: pointer;
    }
    .Dentro1, .Dentro6, .Dentro7,.Dentro8, .Dentro9, .Dentro15,.Dentro16, .Dentro17, .Dentro34,.Dentro35, .Dentro53 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corRN);
    
    }
    .number1,.number6,.number7,.number8,.number9,.number15,.number16,.number17,.number34,.number35,.number53, 
    .name1,.name6,.name7,.name8,.name9,.name15,.name16,.name17,.name34,.name35,.name53,
    .sigla1,.sigla6,.sigla7,.sigla8,.sigla9,.sigla15,.sigla16,.sigla17,.sigla34,.sigla35,.sigla53{
        display: flex;
        color: var(--corDesciçãoRN);
        margin-left: 10px;
        background-color: var(--corRN);
    }
    .sigla1,.sigla6,.sigla7,.sigla8,.sigla9,.sigla15,.sigla16,.sigla17,.sigla34,.sigla35,.sigla53, 
    .name1,.name6,.name7,.name8,.name9,.name15,.name16,.name17,.name34,.name35,.name53{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }
        
    /* Noble Gas*/
        
    .Button2 ,.Button10 ,.Button18,.Button36,.Button54,.Button86 {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corNG);
        border: 1px solid var(--corNG);
        cursor: pointer;
    }
    .Dentro2, .Dentro10, .Dentro18,.Dentro36, .Dentro54, .Dentro86{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corNG);
        
    }
    .number2,.number10,.number18,.number36,.number54,.number86, 
    .name2,.name10,.name18,.name36,.name54,.name86,
    .sigla2,.sigla10,.sigla18,.sigla36,.sigla54,.sigla86{
        display: flex;
        color: var(--corDesciçãoNG);
        margin-left: 10px;
        background-color: var(--corNG);
    }
    .sigla2,.sigla10,.sigla18,.sigla36,.sigla54,.sigla86, 
    .name2,.name10,.name18,.name36,.name54,.name86{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }
    
    /* Alkali Metal*/
        
    .Button3 ,.Button11 ,.Button19,.Button37,.Button55,.Button87 {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corAM);
        border: 1px solid var(--corAM);
        cursor: pointer;
    }
    .Dentro3, .Dentro11, .Dentro19,.Dentro37, .Dentro55, .Dentro87{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corAM);
            
    }
    .number3,.number11,.number19,.number37,.number55,.number87, 
    .name3,.name11,.name19,.name37,.name55,.name87,
    .sigla3,.sigla11,.sigla19,.sigla37,.sigla55,.sigla87{
        display: flex;
        color: var(--corDesciçãoAM);
        margin-left: 10px;
        background-color: var(--corAM);
    }
    .sigla3,.sigla11,.sigla19,.sigla37,.sigla55,.sigla87, 
    .name3,.name11,.name19,.name37,.name55,.name87{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    /* Alkaline Earth Metal*/
        
    .Button4 ,.Button12 ,.Button20,.Button38,.Button56,.Button88 {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corAEM);
        border: 1px solid var(--corAEM);
        cursor: pointer;
    }
    .Dentro4, .Dentro12, .Dentro20,.Dentro38, .Dentro56, .Dentro88{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corAEM);
            
    }
    .number4,.number12,.number20,.number38,.number56,.number88, 
    .name4,.name12,.name20,.name38,.name56,.name88,
    .sigla4,.sigla12,.sigla20,.sigla38,.sigla56,.sigla88{
        display: flex;
        color: var(--corDesciçãoAEM);
        margin-left: 10px;
        background-color: var(--corAEM);
    }
    .sigla4,.sigla12,.sigla20,.sigla38,.sigla56,.sigla88, 
    .name4,.name12,.name20,.name38,.name56,.name88{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    /* Metalloid*/
        
    .Button5 ,.Button14 ,.Button32,.Button33,.Button51,.Button52 {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corM);
        border: 1px solid var(--corM);
        cursor: pointer;
    }
    .Dentro5, .Dentro14, .Dentro32,.Dentro33, .Dentro51, .Dentro52{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corM);
            
    }
    .number5,.number14,.number32,.number33,.number51,.number52, 
    .name5,.name14,.name32,.name33,.name51,.name52,
    .sigla5,.sigla14,.sigla32,.sigla33,.sigla51,.sigla52{
        display: flex;
        color: var(--corDesciçãoM);
        margin-left: 10px;
        background-color: var(--corM);
    }
    .sigla5,.sigla14,.sigla32,.sigla33,.sigla51,.sigla52, 
    .name5,.name14,.name32,.name33,.name51,.name52{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    /* Post-transition Metal*/
        
    .Button21 ,.Button22 ,.Button23,.Button24,.Button25,.Button26 ,.Button27,.Button28 ,.Button29 ,.Button30,.Button39,.Button40 ,.Button41 ,.Button42,.Button43,.Button44 ,.Button45 ,.Button46,.Button47,.Button48,.Button72 ,.Button73,.Button74 ,.Button75 ,.Button76,.Button77,.Button78 ,.Button79 ,.Button80,.Button104 ,.Button105 ,.Button106,.Button107,.Button108  {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corPTM);
        border: 1px solid var(--corPTM);
        cursor: pointer;
    }
    .Dentro21, .Dentro22, .Dentro23,.Dentro24, .Dentro25, .Dentro26,.Dentro27, .Dentro28, .Dentro29,.Dentro30,.Dentro39, .Dentro40, .Dentro41,.Dentro42, .Dentro43,.Dentro44, .Dentro45, .Dentro46,.Dentro47, .Dentro48, .Dentro72,.Dentro73, .Dentro74, .Dentro75,.Dentro76,.Dentro77, .Dentro78, .Dentro79,.Dentro80, .Dentro104, .Dentro105,.Dentro106, .Dentro107,.Dentro108{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corPTM);
            
    }
    .number21,.number22,.number23,.number24,.number25,.number26,.number27,.number28,.number29,.number30,.number39,.number40,.number41,.number42,.number43,.number44,.number45,.number46,.number47,.number48,.number72,.number73,.number74,.number75,.number76,.number77,.number78,.number79,.number80,.number104,.number105,.number106,.number107,.number108,
    .name21,.name22,.name23,.name24,.name25,.name26,.name27,.name28,.name29,.name30,.name39,.name40,.name41,.name42,.name43,.name44,.name45,.name46,.name47,.name48,.name72,.name73,.name74,.name75,.name76,.name77,.name78,.name79,.name80,.name104,.name105,.name106,.name107,.name108,
    .sigla21,.sigla22,.sigla23,.sigla24,.sigla25,.sigla26,.sigla27,.sigla28,.sigla29,.sigla30,.sigla39,.sigla40,.sigla41,.sigla42,.sigla43,.sigla44,.sigla45,.sigla46,.sigla47,.sigla48,.sigla72,.sigla73,.sigla74,.sigla75,.sigla76,.sigla77,.sigla78,.sigla79,.sigla80,.sigla104,.sigla105,.sigla106,.sigla107,.sigla108{
        display: flex;
        color: var(--corDesciçãoPTM);
        margin-left: 10px;
        background-color: var(--corPTM);
    }
    .sigla21,.sigla22,.sigla23,.sigla24,.sigla25,.sigla26,.sigla27,.sigla28,.sigla29,.sigla30,.sigla39,.sigla40,.sigla41,.sigla42,.sigla43,.sigla44,.sigla45,.sigla46,.sigla47,.sigla48,.sigla72,.sigla73,.sigla74,.sigla75,.sigla76,.sigla77,.sigla78,.sigla79,.sigla80,.sigla104,.sigla105,.sigla106,.sigla107,.sigla108,
    .name21,.name22,.name23,.name24,.name25,.name26,.name27,.name28,.name29,.name30,.name39,.name40,.name41,.name42,.name43,.name44,.name45,.name46,.name47,.name48,.name72,.name73,.name74,.name75,.name76,.name77,.name78,.name79,.name80,.name104,.name105,.name106,.name107,.name108{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    /* Transition Metal*/
        
    .Button13 ,.Button31 ,.Button49,.Button50,.Button81,.Button82,.Button83,.Button84,.Button85 {
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corPTM);
        border: 1px solid var(--corPTM);
        cursor: pointer;
    }
    .Dentro13, .Dentro31, .Dentro49,.Dentro50,.Dentro81, .Dentro82, .Dentro83, .Dentro84, .Dentro85{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corPTM);
            
    }
    .number13,.number31,.number49,.number50,.number81,.number82,.number83,.number84,.number85,
    .name13,.name31,.name49,.name50,.name81,.name82,.name83,.name84,.name85,
    .sigla13,.sigla31,.sigla49,.sigla50,.sigla81,.sigla82,.sigla83,.sigla84,.sigla85{
        display: flex;
        color: var(--corDesciçãoPTM);
        margin-left: 10px;
        background-color: var(--corPTM);
    }
    .sigla13,.sigla31,.sigla49,.sigla50,.sigla81,.sigla82, .sigla83,.sigla84,.sigla85,
    .name13,.name31,.name49,.name50,.name81,.name82,.name83,.name84,.name85{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    /* Lanthanide*/

    .Button57 ,.Button58 ,.Button59,.Button60,.Button61,.Button62 ,.Button63,.Button64 ,.Button65 ,.Button66,.Button67,.Button68 ,.Button69 ,.Button70,.Button71{
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corL);
        border: 1px solid var(--corL);
        cursor: pointer;
    }
    .Dentro57, .Dentro58, .Dentro59,.Dentro60, .Dentro61, .Dentro62,.Dentro63, .Dentro64, .Dentro65,.Dentro66,.Dentro67, .Dentro68, .Dentro69,.Dentro70, .Dentro71{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corL);
    
    }
    .number57,.number58,.number59,.number60,.number61,.number62,.number63,.number64,.number65,.number66,.number67,.number68,.number69,.number70,.number71 ,
    .name57,.name58,.name59,.name60,.name61,.name62,.name63,.name64,.name65,.name66,.name67,.name68,.name69,.name70,.name71,
    .sigla57,.sigla58,.sigla59,.sigla60,.sigla61,.sigla62,.sigla63,.sigla64,.sigla65,.sigla66,.sigla67,.sigla68,.sigla69,.sigla70,.sigla71{
        display: flex;
        color: var(--corDesciçãoL);
        margin-left: 10px;
        background-color: var(--corL);
    }
    .sigla57,.sigla58,.sigla59,.sigla60,.sigla61,.sigla62,.sigla63,.sigla64,.sigla65,.sigla66,.sigla67,.sigla68,.sigla69,.sigla70,.sigla71,
    .name57,.name58,.name59,.name60,.name61,.name62,.name63,.name64,.name65,.name66,.name67,.name68,.name69,.name70,.name71{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }
    
    /* Actinide*/
    
    .Button89 ,.Button90 ,.Button91,.Button92,.Button93 ,.Button94,.Button95 ,.Button96 ,.Button97,.Button98,.Button99 ,.Button100 ,.Button101,.Button102,.Button103{
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corA);
        border: 1px solid var(--corA);
        cursor: pointer;
    }
    .Dentro89, .Dentro90, .Dentro91,.Dentro92, .Dentro93, .Dentro94,.Dentro95, .Dentro96, .Dentro97,.Dentro98,.Dentro99, .Dentro100, .Dentro101,.Dentro102, .Dentro103{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corA);
    
    }
    .number89,.number90,.number91,.number92,.number93,.number94,.number95,.number96,.number97,.number98,.number99,.number100,.number101,.number102,.number103,
    .name89,.name90,.name91,.name92,.name93,.name94,.name95,.name96,.name97,.name98,.name99,.name100,.name101,.name102,.name103,
    .sigla89,.sigla90,.sigla91,.sigla92,.sigla93,.sigla94,.sigla95,.sigla96,.sigla97,.sigla98,.sigla99,.sigla100,.sigla101,.sigla102,.sigla103{
        display: flex;
        color: var(--corDesciçãoA);
        margin-left: 10px;
        background-color: var(--corA);
    }
    .sigla89,.sigla90,.sigla91,.sigla92,.sigla93,.sigla94,.sigla95,.sigla96,.sigla97,.sigla98,.sigla99,.sigla100,.sigla101,.sigla102,.sigla103,
    .name89,.name90,.name91,.name92,.name93,.name94,.name95,.name96,.name97,.name98,.name99,.name100,.name101,.name102,.name103{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    /* Unknown Chemical Properties*/
    
    .Button109 ,.Button110 ,.Button111,.Button112,.Button113 ,.Button114,.Button115 ,.Button116 ,.Button117,.Button118{
        display: flex;
        height: 80px;
        width: 80px;
        margin:0px 0px 3px 10px;
        background-color: var(--corUCP);
        border: 1px solid var(--corUCP);
        cursor: pointer;
    }
    .Dentro109, .Dentro110, .Dentro111,.Dentro112, .Dentro113, .Dentro114,.Dentro115, .Dentro116, .Dentro117,.Dentro118{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75px;
        height: 75px;
        background-color: var(--corUCP);
    
    }
    .number109,.number110,.number111,.number112,.number113,.number114,.number115,.number116,.number117,.number118,
    .name109,.name110,.name111,.name112,.name113,.name114,.name115,.name116,.name117,.name118,
    .sigla109,.sigla110,.sigla111,.sigla112,.sigla113,.sigla114,.sigla115,.sigla116,.sigla117,.sigla118{
        display: flex;
        color: var(--corDesciçãoUCP);
        margin-left: 10px;
        background-color: var(--corUCP);
    }
    .sigla109,.sigla110,.sigla111,.sigla112,.sigla113,.sigla114,.sigla115,.sigla116,.sigla117,.sigla118,
    .name109,.name110,.name111,.name112,.name113,.name114,.name115,.name116,.name117,.name118{
        display: flex;
        justify-content: center;
        margin: 0px 1px 0px 0px;
    }

    
}
