*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
:root{
    /* Reactive Nonmetal*/
    --corRN:#e6f0ff;
    --corDesciçãoRN:#0060f0;
    /* Noble Gas*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;
    /* Alkali Metal*/
    --corNg:#ffebee;
    --corDesciçãoNg:#d33670;

}
@media (max-width:500px){
    

.container{
    display: flex;
    flex-direction: column;
}
.linha1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

/* Molecula H*/

.ButtonH{
    display: flex;
    height: 80px;
    width: 80px;
    margin:0px 0px 3px 10px;
    background-color: var(--corRN);
    border: 1px solid var(--corRN);
    cursor: pointer;
}
.DentroH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: var(--corRN);
 
}
.numberH, .nameH, .siglaH{
    display: flex;
    color: var(--corDesciçãoRN);
    margin-left: 10px;
    background-color: var(--corRN);
  }
  .siglaH, .nameH{
    display: flex;
    justify-content: center;
    margin: 0px 1px 0px 0px;
  }


/* Molecula He*/

.ButtonHe{
    display: flex;
    height: 80px;
    width: 80px;
    margin:0px 0px 3px 10px;
    background-color: var(--corNg);
    border: 1px solid var(--corNg);
    cursor: pointer;
}
.DentroHe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: var(--corNg);
 
}
.numberHe, .nameHe, .siglaHe{
    display: flex;
    color: var(--corDesciçãoNg);
    margin-left: 10px;
    background-color: var(--corNg);
  }
  .siglaHe, .nameH{
    display: flex;
    justify-content: center;
    margin: 0px 1px 0px 0px;
  }
.nameHe{
    display: flex;
    margin-left: 23px;
}



}