*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/netflix-1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;   
}
.container{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 1fr 1fr 1fr;
    background:linear-gradient( to right, black, transparent, black );
    height: 100vh;

}

.logo{
    height: 100px;
    grid-column: 1/2;
    grid-row: 1/1;
}

.login{
    background: rgba(0, 0, 0, .8);
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dentro{
    display: flex;
    flex-direction: column;
    margin: 60px 90px 0px 70px;
}
.entrar{
    font-family: Arial ;
    color: white;
}
.email{
    margin-top: 30px;
    height: 50px;
    background-color: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
    color: white;
    border-radius: 5px;
}
.senha{
    margin-top: 15px;
    height: 50px;
    background-color: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
    color: white;
    border-radius: 5px;
}
.buttonEntrar{
    margin-top: 20px;
    height: 50px; 
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
}
.buttonEntrar:hover {
    background-color: rgb(255, 92, 92); 
    border-color: rgb(255, 92, 92);
    transition: 0.2s;
    opacity: 0.7;
}
.baixo{
    display: flex;

}
.Lembre{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    color: white;
    font-family: Arial;
}

.checkbox{
    margin-top: 10px;
    margin-right: 3px;
}